*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* nav */
nav{
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.text:hover{
    background-color: lightgray;
}

.container-nav-left{
    display: flex;
    padding-left: 1rem;
}

.container-nav-right{
    padding-right:  1rem;
}

.text{
    padding-right: 1rem;
    padding-left: 10px;
    color: black;
    text-decoration: none;
}

.button-nav{
    height: 25px;
    background-color: rgb(0, 97, 255);
    border: none;
    color: white;
}

/* Header */

header{
    
   
    background-color:rgb(180, 208, 231);
    padding: 6rem;
    
}
.container-header{
    margin: auto;
     max-width: 1150px;
     display: flex;
    }

.title{
   text-align: center;
   font-size: 3rem;
   padding-bottom: 2rem;
}
.img-jumbo{
    height: 500px;
}

.button-header,.button-main{
    margin-top: 40px;
    height: 40px;
    width: 200px;
    background-color: rgb(0, 97, 255);
    border: none;
    color: white;
}

.color-text{
    color: white;
    text-decoration: none;
}

.text-header{
    margin-top: 20px;
}

/* Main */

.container-small{
    margin: auto;
    max-width: 1000px; 
  padding: 50px;
   
}

   


.input, .information{
    padding-top:50px;
}

.input-main{
    margin-left: 40px;
}

.container-flex{
    display: flex;
    padding: 25px;
    gap: 2rem;
}

.container{
   
    flex: 0 0 33%;
    border: 1px solid black;
    padding: 10px;
}

.single{
    text-align: center;
}

.details{
    padding-top:20px;
}

.text-main, .link-purchase{
    padding-top: 25px;
}

.text-main-2{
    padding-top: 40px;
}

.container-buttom-main{
    text-align: center;
}

.link-purchase{
    padding: 25px;
}

.linea{
    width: 40px;
    margin-top: 20px;
}

.text-information {
    display: block;
    padding: 15px;
}

.container-team{
    border: 1px solid black;
    margin-left: 25px;
    position: relative;
    height: 300px;
   width: 100%;
}

.text-center{
    text-align: center;
}

.information-1, .text-info, .text-info-2{
    padding-top: 40px;
}

.contact{
    position: absolute;
    right: 10px;
    top: 40px;
    height: 40px;
    width: 200px;
    background-color: rgb(0, 97, 255);
    border: none;
    color: white;
}

 .img{
    padding-top: 50px; 
}

.img-partner{
    height: 600px;
}

.text-partner{
   margin-top: 35px;
   height: 50px;
   width: 150px;
   background-color: white;
}
.flex-business{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.flex{
    flex: 0 1 30%;  
}

.img-business{
    width: 100%;
}

.title-2{
    padding-top: 200px;
}

.link-client{
    padding-top: 60px;
}

.container-flex2{
    display: flex;
}

.square-small{
   
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 33.3%;
    position: relative;
    
}

.square-mini{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 50%;
    aspect-ratio: 1/1;
}

.img-dimension{
     width: 120px;
     height: auto;
     filter: invert(1);  
    
}

.color-square1{
    background-color: rgb(162, 211, 155);
    border: 12px solid rgb(209, 233 , 205);
}

.color-square2{
    background-color: rgb(97, 8, 43);
}

.color-square3{
    background-color: rgb(0, 147, 206);
}

.color-square4{
    background-color: rgb(255, 28, 28);
}

.color-small{
    background-color:rgb(240, 240, 240)
}

.color-square5{
    background-color: rgb(180, 208, 231);
}

.color-square6{
    background-color: rgb(13, 36, 129);
}

.color-square7{
    background-color: rgb(255, 216, 48);
}

.img-center{
    height: 80px;
    margin: 20px;
}

.container-square{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 208, 231);
    height: 300px;
}

.button-main2{
    height: 40px;
    width: 200px;
    margin-left: 50px;
    border: none;
}

.color-text2{
    color: rgb(97, 8, 43);
}

.text-button{
    text-decoration: none;
    color: black;
}

.space, .paragraf{
    margin-top: 35px;
}


    















